/* fill this in with your own css */
.appContent
{
	margin-left: 5px;
	margin-right: 5px;
}

.themeBorder, .themeBorderBackground
{
	border: solid #669cf0 1px;			
}

.themeBackground, .themeBorderBackground
{
	background-color: #d0ecd2;
}

.scrollTableSpacer
{
	margin-top: 10px;
}

.scrollTableCaption
{
	font-weight: bolder;
}

.statusBox, .themePaddedBorder
{
	border: solid #669cf0 1px;
	padding: 5px;
	margin-top: 10px;
	margin-right: 5px;
}

.statusErrorIndicator
{
	color: #f97569;
}

.statusSuccessIndicator
{
	color: #45c368;
}

.standardTableHeader
{
	background-color: #669cf0;
	color:	white;
	font-weight: bolder;
	text-align: center;
}

.standardTable, .horizontalTable
{
	border: 1px solid silver;
	margin-top: 10px;
	border-collapse: collapse;
}

.horizontalHeader
{
	font-weight: bold;
}

.horizontalPrimaryColor
{
	background-color: #fdf7b3;
}

.horizontalSecondaryColor
{
	background-color: #d0ecd2;
}

.formLabel
{
	float: left;
	width: 170px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	clear: left;
}

.formShiftRight
{
	margin-left: 180px;
}

.gwt-MenuBar .gwt-MenuItem-selected
{
	color: green;
}

.questPrimary
{
	background-color:  #e0def3;
}

.questSecondary
{
	background-color: #d6f3d5;
}

.smallFont
{
	font-size: 10px;
}

.selectedTabColor
{
	color: purple;
}

.centerElements
{
	text-align: center;
}